body {
  margin: 0;
  background: #063970;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.beatbox {
  width: 600px;
  height: 600px;
  background: #333;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.beat {
  width: 150px;
  height: 150px;
  flex-basis: 29%;
  margin: 10px;
  display: flex;
  background-color: #333;
  justify-content: center;
  align-items: center;
}

.beat.button {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  border: 5px solid aqua;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 2em;
  transition: all 0.3s;
}
